
.hero { 
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px; 
	overflow: hidden;
	/* Background image styles */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero.anchored {
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
}
