.tiles-container { 
    --do-nothing: true;
}

.tile-container {
    --do-nothing: true;
}

.tile {
    --do-nothing: true;
}

.tile-image {
    border: 2px solid #CCC;
    /* border-radius: 20px; */
    overflow: hidden;
}

.tile-image.clickable { 
	cursor: pointer;
}

.tile-image img {
    width: 100%;
    height: 100% !important;
    align-self: start;
    object-fit: cover;
}

.tile-image-overlay {
    img {
        vertical-align: top; /* Default is baseline, this fixes a common alignment issue */
    }
}

.tile-image-overlay, 
.tile-image-overlay * {
	pointer-events: none;
	cursor: pointer;
}

.tile-image-overlay-text {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.tile-image-overlay-title {
    margin-bottom: 10px;
}

.tile-image-overlay-body{
    font-size: 16px;
    font-weight: initial;
}




/* ====== OVERLAY VARIANT (CSS-only) ======
   - Applied by adding `variant="overlay"` to <Tiles/> (adds `.overlay` to each `.tile`)
*/

.tile.overlay {

	.tile-image {
		position: relative;
		aspect-ratio: 1;
		margin: 10px;
	}

	.tile-image img {
		width: 100%;
		height: 100% !important;
		position: relative;
		display: inline-block;
		align-self: start;
		object-fit: cover;
	}

	.tile-image-overlay {
		visibility: hidden;
		position: absolute;
		width: 0%;
		height: 100%;
		bottom: 0;
		left: 0;
		display: inline-block;
		background: rgba(51, 102, 153, .7);
		transition: all 0.25s ease-in-out;
		/* All other styling - see example */
		img {
			vertical-align: top; /* Default is baseline, this fixes a common alignment issue */
		}
	}

	.tile-image:hover .tile-image-overlay {
		visibility: visible;
		width: 100% !important;
	}

	.tile-image-overlay-text {
		position: absolute;
		padding: 20px;
		left: 0;
		bottom: 0;
		color: white;
		font-size: 20px;
		font-weight: bold;
		visibility: hidden;
		transition: visibility 0s ease-in-out;
		transition-delay: 0s; 
	}

	.tile-image:hover .tile-image-overlay-text {
		visibility: visible;
		transition-delay: 0.25s; 
	}

	.tile-image-overlay-title {
		margin-bottom: 10px;
	}

	.tile-image-overlay-body{
		font-size: 16px;
		font-weight: initial;
	}
}






/* ====== CAPTION VARIANT (CSS-only) ======
   - Applied by adding `variant="caption"` to <Tiles/> (adds `.caption` to each `.tile`)
*/
.tile.caption {
	* { 
		visibility: visible;
		display: block;
		position: relative;
	}

	.tile-image {
		aspect-ratio: auto;
		border-radius: 10px;
	}

	.tile-image img {
		width: 100%;
    	height: 100% !important;
		align-self: start;
		object-fit: cover;
		aspect-ratio: 1;
	}

	.tile-image-overlay {
		background-color: #EEEEEE;
		height: 100px !important;
	}

	.tile-image-overlay, 
	.tile-image-overlay * {
		width: 100% !important;
		height: auto;
		transition: none;
	}

	.tile-image-overlay-title {
		margin-bottom: 0px;
		color: black;
	}

	.tile-image-overlay-text {
		transition: none;
		color: black;
		padding: 10px;
	}

	.tile-image-overlay-body{
		font-size: var(--font-size-base);
		font-weight: bold;
		color: black;
	}

}
