:root {
	--primary-color: #19471b; /* #1F3A26 */
  	--secondary-color: #959882; /* #8A9A91 */
  	--accent1-color: #b26443; /* #A35C48 */
  	--accent2-color: #beab6c; /* #C5B386 */
	--text-color: #2C2C2C;	
	--bg-color: #F4F3EF;
	--header-font: 'Playfair Display', serif;
	--body-font: 'Lato', sans-serif;
}

body {
	background-color: var(--bg-color) !important;
	color: var(--text-color);
	font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font); 
	line-height: 1.1;
}

:root { 
	--font-size1-min: 4rem;
	--font-size1-max: 5rem;
	--font-size2-min: 2rem;
	--font-size2-max: 3rem;
	--font-size3-min: 1.35rem;
	--font-size3-max: 1.75rem;
}

header {
	position: relative; 

	#header-section {
		padding-top: 20px;
		padding-bottom: 0px;
	}
	.panelMenuButton, #panelMenuButton {
		display: none;
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 5;
	}
	.panelMenuButton .hamburger {
		font-size: unset
	};
	#logo {
		height: 150px;
		width: auto;
		object-fit: contain;
	}
}

nav {
	.menuItem:not(:first-child) {
    	border-left: 0px transparent ;
	}
	.menuItem a {
		background-color: var(--primary-color) !important;
		color: var(--bg-color);
	}
	.menuItem a.selected {
		background-color: var(--secondary-color) !important;
		color: var(--font-color);
	}
	
}

.accordionMenuWrapper, .accordionDown, .accordionUp {
    top: 45px;
    background-color: var(--accent1-color);
}
.accordionMenu > ul > li > a {
    background-blend-mode: normal;
    background-color: #ffffff;
    background-image: none;
}
.accordionMenu > ul > li > a:hover {
	background: var(--accent2-color)
}

main div:has( > img) {
	border: 10px solid var(--primary-color);
}

#home-section {
	.callout {
		background: var(--secondary-color);
	}
	.callout.split .calloutImage {
		--do-nothing: true;
		/* aspect-ratio: 1; */
	}
	.calloutBody {
		padding: 10px;
	}
}

#services-section {
	padding-bottom: 0px;
	margin-bottom: 30px;
	.pageSectionHeader {
		margin: 0px;
	}
	.callout.overlay .calloutImage img {
		aspect-ratio: 3 / 5;
	}
	.callout.overlay .calloutBody h2 {
	color: white;
	text-shadow:
		-1px 1px 1px var(--primary-color),
		1px 1px 1px var(--primary-color),
		1px -1px 1px var(--primary-color),
		-1px -1px 1px var(--primary-color),
		-1px 1px 5px var(--primary-color),
		1px 1px 5px var(--primary-color),
		1px -1px 5px var(--primary-color),
		-1px -1px 5px var(--primary-color);

	}
}

@media screen and (max-width: 768px) {
    nav, 
	.menuWrapper {
        display: none;
    }
	header .panelMenuButton, 
	header #panelMenuButton {
        display: block;
    }
}


@media screen and (max-width: 480px) {
    main {
		padding-top: 0px;
	}
	main .page-section-content {
		gap: 0px !important;
    	padding: 30px !important;
	}
	nav section.page-section {
    	padding: 0px;
	}
	.callout {
		margin: 15px 0;
	}
	#home-section .page-section-content {
		padding-top: 0px !important;
	}
	#services-section .callout.overlay .calloutImage img {
    aspect-ratio: 1;
}
}