
body {
  background: #FFF !important;
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, Roboto, Verdana, sans-serif;
}
  
header, nav, main, footer {
  display: inline-block;
  width: 97%;
  padding: 10px;
}

header .logo {
  float: left;
  width: 100px;
}
  
header .title {
  position: relative;
  display: inline;
  top: 30px;
  left: 10px;
}

header .contactinfo {
  float: right;
}

main {
  --do-nothing: true;
}

main .quote {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic ;
}

img.mas {
  width: 200px;    
  display: inline;
  float: right;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  header * {
    position: static !important;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    float: none !important;
  }
}

#page-header {
	background-color: rgba(255,255,255,0.3);
	background-image: url(/images/pixelvivid/pix-bg.gif);
  background-blend-mode: lighten;
}


.logo-row {
  margin: 0 auto;
  text-align: center;
}

.logo-row img {
  max-height: 35px;
  padding: 0 10px;
}

@media screen and (max-width: 480px) {
  .logo-row img {
    max-height: 30px;
  }
}

.if.callout {
  border: 1.5px solid #000;
  background: #F9F9F9;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .if.callout {
    height: 60px;
    margin: 0px;

  }
}

.if.callout p {
  margin-bottom: 0px;
}

.p-resume {
    h1 {
        font-size: 1.75em !important;
        margin-top: 0px !important;
        text-align: center;
    }
}