/* ========================================
==========    SHOPPING CART     ===========
======================================== */

.pix-cart {
    --do-nothing: true
}

.pix-cart .callout-header {
    text-align: left
}

.pix-cart-items {
    text-align: center;
}

@media screen and (max-width: 480px) {
	.pix-cart-items {
		padding: 20px;
	}
}

.pix-cart-item {
    border: 1px solid #DDD;
    text-align: left;
    padding: 20px 5px !important;
}

@media screen and (max-width: 480px) {
	.pix-cart-item {
		text-align: center;
	}
}

.pix-cart-item-header {
    margin: 0 auto;
}

.pix-cart-item-header h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.pix-cart-item-photo img {
    padding: 10px 0;
    width: 100%;

}

.pix-cart-item-details {
    padding-bottom: 10px;
}

.pix-cart-item-price{
    font-size: 1.5em;
    font-weight: bold;

    /* background-image: url(/images/pix/pix-bg-sm-bw.gif); */
    border: 2px solid #ccc;
    display: inline-block;
	margin: 0 auto;
    padding: 5px 20px;
	
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


/* ===== SHOPPING CART CHECKOUT ===== */

#pixCheckout thead {
    display: none;
}

#pixCheckout td {
    vertical-align: top;
}

#pixCheckout tr td:first-child {
    text-align: right;
}

#pixCheckout tbody ul {
	margin: 0;
	padding: 0 0 0 20px;
}


/* ===== SHOPPING CART SHIPPING FIELDS ===== */

.pix-cart-button,
.pix-cart .pix-cart-button,
#pix-cart-button.pix-cart-button {
    font-size: 1.1em;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    padding: 5px;
    /* vertical-align: middle; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: #DDD;
    border: 1px solid #CCC;
    border-radius: 5px;
    min-width: 200px;
    height: auto;
    margin: 5px auto;
}

.pix-cart-button:hover,
.pix-cart .pix-cart-button:hover,
#pix-cart-button.pix-cart-button:hover {
    color: #369;
	text-decoration: underline;
}

#pix-cart-button.pix-cart-button {
    width: 80px;
    min-width: 80px;
    height: 30px;
}
#pix-cart-button.pix-cart-button img {
    width: 20px;
}





input[readonly] {
  border: none;
  background-color: transparent;
  color: black;
}
